[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "embedding"
version = "0.1.0"
dependencies = [
    "numpy",
    "networkx",
    "node2vec"
]
